.logo {
  animation: logo-spin infinite 20s linear;
  height: 80px;
  display:block;
  margin:25px auto;
}

.align-center {
  text-align: center;
}

#header {

}

#content {
  margin: 5% auto;
}

.pagination {
  margin: 5% auto 2% auto;
  text-align: center;
}

.login-form {
  margin: 0 auto !important;
  max-width: 280px;
}
.login-form-forgot {
  float: left;
}
.register-now {
  float: right;
}
.login-form-button {
  width: 100%;
}

.login-btn {
  margin-left:2%;
}

.title {
  margin:4% auto 2% auto;
}

.back-btn {
  margin-bottom:2%;
}

.ticket-card {
  display:inline-block;
  margin: 5% !important;
}

.ticket-card:first-child {
  margin-left: 0%;
}

.comment-form .ant-form-item-label {
  text-align: left !important;
}

.event-card {
  width: 280px;
  margin: 10% auto 0 auto !important; 
}

/* #components-layout-demo-fixed .logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 24px 16px 0;
  float: left;
} */

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
